body {
    /* Navbar height is 50px, add some padding to the body */
    padding-top: 70px;
}

.featuredImage {
    width: 500px;
    height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
}

.coverImage {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
}
